

.container{
    width: 55vw;
    right: 0;
    position: fixed;
    height: 100vh;
    display: flex;
    
    padding: 0 5vw 0 5vw;

    font-family: "Bricolage Grotesque", system-ui;
    font-weight: 350;
    overflow: auto;
    
    
}




.blur {
    filter: blur(5px);
    transition: filter 0.3s ease-in;
  }
   
  .remove-blur {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
  }

.imgCover{
    width: 55vw;
    height: 35vw;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 20px;
}

.fitimg{
    
    width: 100%; /* 让图片宽度填满容器 */
   
  }

.imgContainer{
    padding: 2px 0 2px 0;
    font-size: 14px;
    font-weight: 250;
    color: #fbfbfb;
    position: relative;
    margin-bottom: 20px;
}







/* side project */
.spTitle{
    /* font-family: 'Ogg'; */
    font-family: "Cormorant Unicase", system-ui;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 2px;
}

.spAbstract{
    padding-left: 10vw;
    padding-top: 30px;
    font-style: italic;
}

.spChapter{
    display: flex;
    padding-top: 30px;
    
}

.spChapterTitle{
    flex:2;
   
    font-family: "Cormorant Unicase", system-ui;
    font-weight: 700;
    font-size: 18px;
}

.spChapterText{
    flex: 9;
    display: flex;
    flex-direction: column;
    gap: 18px;
    
}

.imageBlock{
    display: block;
    clear: both;
}

.refereceList{
    width: 100%;
}

.link{
    text-decoration: underline;
    word-break: break-all;
    display: inline-flex;
}

@media (max-width: 1430px) {

    

    
   
}
   

@media (max-width: 1200px) {
    .spChapter{
        
        gap: 10px;
    }
    .container{
        width: 56vw;
        padding: 0 5vw 0 2vw;
        
    }
    .spChapterTitle{
        flex: 1.5;
    }


   

    .spAbstract{
        padding-right: 2vw;
        padding-left: 0;
        font-style: italic;
    }
   
} 


@media (max-width: 1024px) {
    .spChapter{
        flex-direction: column;
        gap: 10px;
    }

    .container{
        width: 55vw;
        padding: 0 5vw 0 2vw;
        
    }

}

@media (max-width: 768px) {

    .container{
        width: 90vw;
        padding: 0 5vw 0 5vw;
       
        
    }

    .imgCover{
        width: 90vw;
        height: 35vh;
    }

    

    .mainContainer{
        display: none;
    }

    .spTitle{
        font-family: "Cormorant Unicase", system-ui;
        font-size: 40px;
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .spChapterTitle{
        flex: 1.5;
    }

    .spChapter{
        flex-direction:row;
       
    }
   
}


@media (max-width: 600px) {

   

    .spChapter{
        flex-direction:column;
       
    }
   
}




