.container{
    display: flex;
    gap:10px;
    height: 100vh;
    overflow: scroll;
}

.line2{
    position: fixed;
    width: 1.5px;
    height: 96vh;
    background-color: black;
    margin-left: 35vw;
    margin-top: 2vh;
}

.index{
    flex: 7;
    font-family: "Bricolage Grotesque", system-ui;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
    
   
   
}

.point{
    width: 12px;
    height: 12px;
    background-color: #383838;
    display: inline-block;
    border-radius: 50%;
    translate:5px 1px
}


.lineContainer{
    height: 100vh;
    position: fixed;
    margin-left: 6vw;
    z-index: 0;
    
    
}

.line{
    object-fit:contain;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.5px;
    height: 100vh;
}




.indexgroup{
  
   
   margin-left: 60px;
    
    
}

.cn{
    padding-top: 120px;
}



.FD,.BMR,.TE,.DH,.Film{
    padding-top: 35px;
}

.projectindex{
    display: flex-block;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    width: 100%;


}

.projectindex:hover{
    translate: 20px;
    
}

.project{
    flex: 11;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 15px;
    overflow: auto;
    
   
}



.projectTitle{
    font-family: "Cormorant Unicase", system-ui;
    font-weight: 400;
    font-size: 3.3rem;
}

.ImgContainer{
    position: relative;
    width: 55vw;
    height: 50vh;
    background-color: turquoise;
    margin-top: 20px;
    
}

.projectImg{
    object-fit:cover;
    position: absolute;  
}

.content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: "Bricolage Grotesque", system-ui;
    
}

.abstract{
    width: 45vw;
    margin-left: 9vw;
    padding-top: 25px;
    font-style: italic;
    font-weight: 300;
}

.chapter{
    display: flex;
}

.chapterName{
    flex: 2;
    font-family: "Cormorant Unicase", system-ui;
    font-size: 1.2rem;
    font-weight: 500;
}

.chaptercontent{
    flex: 9;
    display: flex;
    flex-direction: column;
    gap:20px
}

.element{
    shape-outside: polygon(
        0 0%,
        54% 0%,
        37% 10%,
        34% 12%,
        36% 14%,
        36% 18%,
        32% 20%,
        18% 30%,
        24% 32%,
        21% 34%,
        22% 36%,
        24% 38%,
        30% 40%,
        32% 42%,
        34% 44%,
        44% 46%,
        45% 48%,
        46% 50%,
        48% 52%,
        45% 54%,
        43% 56%,
        43% 58%,
        42% 60%,
        36% 64%,
        33% 68%,
        31% 70%, 
        30% 72%,
        31% 76%,
        33% 80%,
        28% 84%,
        10% 88%,
        10% 90%,
         0 100%

      );
  width: 500px;
  height: 100vh;
  float: left;
  opacity: 1;
}


.symbol{
    position: absolute;
}

.symbolContainer{
    position: fixed;
}