.container{
    display: flex;
    gap:10px;
    height: 100vh;
    overflow: scroll;
}
.line2{
    position: fixed;
    width: 1px;
    height: 96vh;
    background-color: black;
    margin-left: 35vw;
    margin-top: 2vh;
}

.index{
    flex: 7;
    
    font-family: "Bricolage Grotesque", system-ui;
    align-items: center;
    font-size: 1vw;
    overflow: hidden;
   
}

.indexgroup{
    margin-top: 15vh;
    margin-left: 6vw;
    position: absolute;
    
}

.FD,.BMR,.TE,.DH,.Film{
    padding-top: 30px;
}

.projectindex{
    display: block;
    transition: all 0.3s ease-in-out;
}

.projectindex:hover{
    translate: 20px;
}

.project{
    flex: 11;

    
    flex-direction: column;
    
    
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 15px;
    overflow: auto;
    
   
}



.projectTitle{
    font-family: "Cormorant Unicase", system-ui;
    font-weight: 400;
    font-size: 3.3rem;
}

.ImgContainer{
    position: relative;
    width: 55vw;
    height: 50vh;
    background-color: turquoise;
    margin-top: 20px;
    
}

.projectImg{
    object-fit:cover;
   
    
    position: absolute;
    
    
}

.content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: "Bricolage Grotesque", system-ui;
    
}

.abstract{
    width: 45vw;
    margin-left: 9vw;
    padding-top: 25px;
    font-style: italic;
    font-weight: 300;
}

.chapter{
    display: flex;
}

.chapterName{
    flex: 2;
    font-family: "Cormorant Unicase", system-ui;
    font-size: 1.5vw;
}
.chaptercontent{
    flex: 9;
    display: flex;
    flex-direction: column;
    gap:20px
}

.element{
    shape-outside: polygon(
        0 0%,
        35% 0%,
        25% 28%,
        50% 45%,
        40% 55%,
        40% 60%,
        30% 70%,
        40% 90%,
        0 100%
      );
  width: 500px;
  height: 800px;
  float: left;
  opacity: 1;
  
}

.lineContainer{
    
    height: 95vh;
    position: fixed;
    margin-left: 7vw;
    
}

.line{
    object-fit:contain;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    height: 100vh;
}

.symbol{
    position: absolute;
}

.symbolContainer{
    position: fixed;
}