.container {
  width: 35vw;
  position: fixed;
}

.line2{
    position: fixed;
    width: 1.2px;
    height: 96vh;
    background-color: black;
    margin-left: 35vw;
    margin-top: 2vh;
}

.line2 .poeticline{
    transform: translateX(-100%);
}


.poeticContainer{
    position: fixed;
    width: 35vw;
    height: 100vh;
    font-family: "Bricolage Grotesque", system-ui;   
    z-index: 0; 
    display: none;
}

.poeticMode{
    display: block;
}



.draggable:active {
    cursor: grabbing;
}

.poeticContainer span{
    position: fixed;
    color: white;

}

.poeticMode{
    background-color: #0d0d0d;
    z-index: 998;
  
}

.shapeOutside{
    float: left;
    shape-outside: polygon(
        0 0%,
        54% 0%,
        37% 10%,
        34% 12%,
        36% 14%,
        36% 18%,
        32% 20%,
        18% 30%,
        24% 32%,
        21% 34%,
        22% 36%,
        24% 38%,
        30% 40%,
        32% 42%,
        34% 44%,
        44% 46%,
        44% 48%,
        44% 50%,
        44% 52%,
        44% 54%,
        43% 56%,
        43% 58%,
        42% 60%,
        36% 64%,
        33% 68%,
        31% 70%, 
        30% 72%,
        31% 76%,
        33% 80%,
        28% 84%,
        10% 88%,
        10% 90%,
         0 100%

      );
    width: 35vw;
    height: 100vh;
    
}

.linkgroup{
    font-family: "Bricolage Grotesque", system-ui;
    padding-top: calc(2vh + 1vw);
}

.projectLink{
    display: block;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
    font-size: 18px ;
    
}

.projectLink:hover{
    font-weight: 700;
}

.projectLink.active{
    opacity: 1;
    font-weight: 600;
}



.line{
    
    object-fit:contain;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.5px;
    height: 100vh;
    z-index: -1;
    margin-left: calc(1.5vw + 1.5vh);
    position: absolute;
    opacity: 0.6;
}

.point{
    width: 12px;
    height: 12px;
    background-color: #000000;
    display: inline-block;
    border-radius: 50%;
    translate:5px 1px
}

.projectgroup{
    margin-top: calc(2vh + 1vw);
}

.mobileContainer{
    position: absolute;
    display: none;
}

.hidden{
    display: none;
}




@media (max-width: 1430px) {

    .projectLink{
        
        font-size: calc(0.8vw + 0.8vh) ;
        
    }
   

   

    
    .indexgroup{
        margin-left: 2vw; 
     }

     .line{
        transform: scaleX(0.9) translateX(-20px);
        
    }

    .index{
        flex: 6;
     
       
        font-size: 17px;
          
    }
    

    
   
}

@media (max-width: 1200px) {
    
    .line2{
        margin-left: 37vw;
    }


    .indexgroup{
        margin-left: 1vw; 
     }

    .line{
        transform: scaleX(0.8) translateX(calc(- 1vw - 2vh - 10px)) ;
    }

    .poeticContainer{
        width: 40vw;
    }

    .element{
        width: 420px;
        transition: all 0.3s ease-in-out;
        shape-outside: polygon(
        0 0%,
        54% 0%,
        37% 10%,
        34% 12%,
        36% 14%,
        36% 18%,
        32% 20%,
        18% 30%,
        24% 32%,
        21% 34%,
        22% 36%,
        24% 38%,
        30% 40%,
        32% 42%,
        34% 44%,
        44% 46%,
        42% 48%,
        43% 50%,
        44% 52%,
        43% 54%,
        43% 56%,
        45% 58%,
        45% 60%,
        36% 64%,
        33% 68%,
        31% 70%, 
        30% 72%,
        31% 76%,
        33% 80%,
        28% 84%,
        10% 88%,
        10% 90%,
         0 100%

      );
    }

    .index{
        flex: 6;
        
          
    }
}

@media (max-width: 1024px) {
    .line2{
        margin-left: 38vw;
    }

    .poeticContainer{
        width: 41vw;
    }


}

@media (max-width: 928px) {
    .line{
        transform: scaleX(0.9) translateX(calc(-2vw - 2vh - 40px)) ;
    }

    .linkgroup{
        transform: translateX(10px) ;
    }


    .point{
        width: 10px;
        height: 10px;
        translate: 3px 0px;
        
    }
    
   

    
}


@media (max-width: 768px) {

    .container{
        display: none;
     }

     .mobileContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        justify-content: center;
        align-items: center;
        font-family: "Bricolage Grotesque", system-ui; 
        z-index: 999;
        
     }

     .projectgroup{
        text-align: center;
     }

    
    
    
}