
.pHeader{
    padding-top: 1vh;
    display: flex;
    padding-bottom: 5vh;
  }
  
  .pTitle{
    flex: 2.5;
  }
  
  .pTag{
    flex: 3.5;
    opacity: 50%;
  }
  
  
  .pDescri{
    flex: 8;
  }
  
  .pDate{
    flex: 2;
    text-align: right;
  }

  .abstract{
    padding: 50px 20vw 50px 20vw;
}


.chapterContent{
    display: flex;
}

.projectTag{
    padding: 0 3px 0 3px;
    border: #0b0b0b 1px solid;
    margin: 3px;
    line-height: 1.2em;
    border-radius: 0px;
    display: inline-flex;
    font-size: 14px;
    
  }


  .chapterTitle{
    font-family: "Cormorant Unicase", system-ui;
  /* font-family: 'Ogg'; */
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 20vw 20px 20vw;
  }

  .chapterContent{
    display: flex;
    gap: 5vw;
  }

  .chaptertext{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .chapterimg{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  


  .chapterC{
    padding: 100px 15vw 0 15vw;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  .chaptertext{
    display: flex;
    gap: 13px;
    flex-direction: column;
  }

  .imgContainer2 {
    display: flex;
    overflow-x: auto;   /* 水平滚动 */
            /* 容器宽度为100% */
    height: auto;
    gap: 10px;
}

.imgContainer3 {
    display: flex;
    overflow-x: auto;   /* 水平滚动 */
            /* 容器宽度为100% */
    width: 100%;
    height: auto;
    gap: 5px;
    padding-top: 10px;
}

.img3 {
    height: 100%;    
    flex-shrink: 0;    
    width: auto;      
    max-width: 50%;    
    object-fit: cover;  
}



.img2 {
    height: 100%;    
    flex-shrink: 0;     
    width: auto;      
    max-width: 50%;   
    object-fit: cover; 
}

.documentContainer{
    display: grid;
    width: 100%;
  grid-template-columns: 1fr 1fr; /* 两列各占一半宽度 */
  gap: 16px; /* 图片和视频之间的间距 */
  align-items: start;
}

.cation{
    opacity: 0.6;
}
.solution{
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
}


.mediaContainer{
    display: flex;
    width: 100%;
    overflow-x: auto; /* 启用水平滚动 */
  }
  
  .mediaItem {
    flex: 0 0 50%; /* 每个媒体项占据容器宽度的 50% */
    max-width: 50%; /* 确保宽度不会超过 50% */
    box-sizing: border-box;
  }



  @media (max-width: 768px) {

  .pHeader{
    flex-direction: column;
    gap: 5px;
  }
  .pDate{
  
    text-align: left;
  }

  

  .chapterC,
  .chapter{
    padding: 100px 1vw 0 1vw;
}

.chapterContent{
    flex-direction: column;
}


  

  }