.intro{
    font-family: "Cormorant", serif;
    font-size: 15vh;
    width: 85%;
    line-height: 1;
    /* text-shadow: -5px 5px 10px #bebdbd; */
    height: 100vh;
    position: fixed;
    left: 15%;
  }
  .block{
    display: inline-flex;
  }

  


  .sub{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: 2.5vh;
    font-weight: 250;
  }

  .subb{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: 2.5vh;
    font-weight: 250;
    translate: 0.3vw 12vh;
  }

  .subbup{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: 2.5vh;
    font-weight: 250;
    translate: 0.3vw 3vh;
  }

  .text{
    position: absolute;
  }

  .svgpath1{
    width: 500px;
    top: 12vh;
    position: absolute;
  }

  .svgpath2{
    width: 400px;
    margin-left: 10vw;
    margin-top: 68vh;
    position: absolute;
  }

  .svgpath3{
    width: 600px;
    margin-left: 60vw;
    margin-top: 30vh;
    position: absolute;
  }

  .svgcontainer{
    position: fixed;
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    width: 100%;
    
  }

