.intro{
  /* font-family: "Cormorant Unicase", system-ui; */
  font-family: "Cormorant", system-ui;
    font-size: calc(5.7vh + 6vw);
    width: 90%;
    line-height: 0.92;
    /* text-shadow: -5px 5px 10px #bebdbd; */
    height: 100vh;
    position: fixed;
    left: 10%;
  }

  .block{
    display: inline-flex;
  }

  


  .sub{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: calc(1vh + 1vw);
    font-weight: 250;
  }

  .subb{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: calc(1vh + 1vw);
    font-weight: 250;
    translate: 0.3vw 12vh;
  }

  .subbup{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: calc(1vh + 1vw);
    font-weight: 250;
    translate: 0.3vw 3vh;
  }

  .text{
    position: absolute;
  }

  .svgpath1{
    width: 500px;
    top: 12vh;
    position: absolute;
  }

  .svgpath2{
    width: 400px;
    margin-left: 10vw;
    margin-top: 68vh;
    position: absolute;
  }

  .svgpath3{
    width: 600px;
    margin-left: 60vw;
    margin-top: 30vh;
    position: absolute;
  }

  .svgcontainer{
    position: fixed;
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    width: 100%;
    
  }




@media (max-width: 1430px) {

  
}
 

@media (max-width: 1325px) {

 
} 


@media (max-width: 1116px) {

}

@media (max-width: 768px) {

 .intro{

    width: 90vw;
    font-size: calc(5vh + 7vw);
    height: 100vh;
    line-height: 0.92;
    left: 0;
    padding: 70px 0vw 0 5vw;
  }

  .svgpath1{
    width: 500px;
    top: 12vh;
    margin-left: -10vw;
    position: absolute;
  }

  .svgpath2{
    width: 400px;
    margin-left: -10vw;
    margin-top: 68vh;
    position: absolute;
  }

  .svgpath3{
    width: 400px;
    margin-left: 20vw;
    margin-top: 40vh;
    position: absolute;
  }


  .sub,.subb,.subbup{
    font-size: calc(1.25vh + 1.25vw);
    
  }

  .svgcontainer{
    stroke-width: 2.5px;
  }
}


@media (max-width: 600px) {

 
}


