.intro{
    font-family: "Cormorant", serif;
    font-size: 15vh;
    width: 85%;
    line-height: 0.9;
    /* text-shadow: -5px 5px 10px #bebdbd; */
    height: 100vh;
    position: fixed;
    left: 10%;
  }
  .block{
    display: inline-flex;
  }

  


  .sub{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: 2.5vh;
    font-weight: 250;
  }

  .subb{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: 2.5vh;
    font-weight: 250;
    translate: 0.3vw 12vh;
  }

  .subbup{
    position: absolute;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: 2.5vh;
    font-weight: 250;
    translate: 0.3vw 3vh;
  }
