.container{
    width: 100%;
    
    font-family: "Bricolage Grotesque", system-ui;
    font-weight: 350;
}

.block{
    padding: 2vw;
}


.letter{
    transition: all 0.8s ease-out;
}

.letter:hover{
    font-weight: 750;
    transition: font-weight 0.1s ease-in;
    
}

.word:hover{
    font-weight: 750;
    transition: font-weight 0.1s ease-in;
}