@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

*{
  margin: 0;
  padding: 0;
}


html, body {
 
  /* background-image: url('/bg.jpg'); */
  
  background-position: center; 
  
}



  


a{
  text-decoration: none;
  
  color: inherit;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  
}


/* globals.css */
body {
  margin: 0;
  padding: 0;
 
}



main > div {
  position: absolute;
  width: 100%;

}


svg{
  opacity: 90%;
}

strong{
  font-weight: 550;
  margin-bottom:-7px ;
}

.dashed-list {
  list-style-type: none; /* 移除默认的样式 */
  
}

button{
  all: unset;
}



.dashed-list li {
  position: relative;
  padding-left: 1em;
}

.dashed-list li::before {
  content: "- "; /* 添加破折号 */
  position: absolute;
  left: 0; /* 定位在左边 */
  color: #333; /* 自定义破折号颜色 */
}

.bottomspace{
   height: 20vh;
}


.video-container {
  width: 100%; /* 充满屏幕宽度 */
  overflow: hidden;
}

.responsive-video {
  width: 100%; /* 让视频宽度充满父容器 */
  aspect-ratio: 16 / 9; /* 设置宽高比例为 16:9 */
  height: auto; /* 高度自动调整以保持比例 */
}

.videocontainer{
  position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 比例 (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}



.rightbar{
  z-index: 999;
}


.collapsible.content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible.header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}


h3{
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: 550;
}

h4{
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 550;
}


