.container {
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Unicase", system-ui;
    font-weight: 500;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    right: 0;
    position: fixed;
    font-size: 1rem;
}

.container div{
    padding: 10px;
}
