.container {
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Unicase", system-ui;
    font-weight: 500;
    
    height: 100vh;
    
    right: 0;
    position: fixed;
    font-size: 1.1rem;
    z-index: 999;
    align-items: end;
    
}

.container div{
    
}

.svgContainer{
    width: 5vw;
    height: 85vh;
 
    margin-top: 1vh;
    padding: 10px 10px 0 10px;
  
}
.svgContainer2{
    width: 5vw;
    height: 2vh;
  

    padding: 10px;
  
}



.dateContainer{
   
   width: 3vw;
   
   display: flex;
   padding: 0 10px 0 10px;
   flex-direction: column;
   align-items: center;
    
    
}

.dateLine{
    
    height: 1px;
    background-color: black;
}

.path{
    transition: all 0.5s ease-out;
    
}



.path:hover{
    /* transform: scaleX(1.2) translateX(-15px); */
    transition: all 0.2s ease-in;
    stroke: aqua;
    
    
   
}

.titleContainer{
    position: absolute;
    
    transform: translateX(-3.1vw) translateY(-5px);
    text-align: right;
    padding-right: 15px;
    font-family: "Bricolage Grotesque", system-ui;
    font-size: 13px;
    font-weight: 250;
}
